/*
 *Name: Nina DiGruccio
 *UnityID: gpdigruc
 *Date: November 9 2024
 *Assignment: webpages project
 *Description: webpages project
 
 
 p {
    property: value;
}

.class {
    property: value;
}

#id {
    property:value;
}
*/
